
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  
}
body{
    padding: 0px;
        margin: 0px;
    background: url(india.jpg) no-repeat center center fixed;
  background-size: cover;
}
a:hover{
    color: white;
    text-shadow: 0 0 15px black,0 0 20px chocolate,0 0 30px chocolate,0 0 100px chocolate;
}
header{
    position: relative;
    padding: rem;
   
    background-color: aliceblue;
}
/* .nav1{
    margin: 0;
    font-size: 17px;
    box-sizing: border-box;
    background-color:black;
    align-items: center;
    justify-content: center;
} */
.navbar{
    width:100%;
    height: 80px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: aliceblue;
    font-weight: 900;
}
.navbar .log a{
    /* font-size: 20px; */
    font-weight: bold;
}
.navbar .links{
    display: flex;
    gap: 2rem;
}
img{
   cursor: pointer;
   
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  /* top: 0; */
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  float: left;
}
li{
    list-style: none;
    
}
a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    transition: all ease 0.5s;
    
}
.reeg {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  
  
 
}
.container {
  position: relative;
  max-width: 700px;
  width: 100%;
  /* background: #fff; */
  background: transparent;
  backdrop-filter: blur(5px);
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}
/* .container header {
  font-size: 1.5rem;
  color: #333;
  font-weight: 500;
  text-align: center;
  
} */
.container h1{
    font-size: 1.5rem;
  color: #333;
  font-weight: 500;
  text-align: center;
}
.container .form {
  margin-top: 30px;
}
.form .input-box {
  width: 100%;
  margin-top: 20px;
}
.input-box label {
  color:black;
}
.form :where(.input-box input, .select-box) {
  position: relative;
  height: 50px;
  width: 100%;
  outline: none;
  font-size: 1rem;
  color: black;
  margin-top: 8px;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 0 15px;
  
}
.input-box input:focus {
  box-shadow: 20px 33px 20px rgba(187, 28, 28, 0.1);
}
.form .column {
  display: flex;
  column-gap: 15px;
}

.form .gender-box {
  margin-top: 20px;
}
.gender-box h3 {
  color: #333;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 8px;
  
}
.form :where(.gender-option, .gender) {
  display: flex;
  align-items: center;
  column-gap: 50px;
  flex-wrap: wrap;
  
}
.form .gender {
  column-gap: 5px;
}
.gender input {
  accent-color: rgb(130, 106, 251);
}
.form :where(.gender input, .gender label) {
  cursor: pointer;
}
.gender label {
  color: black;
}
.address :where(input, .select-box) {
  margin-top: 15px;
}
.select-box select {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  color: #707070;
  font-size: 1rem;
}
.form button {
  height: 55px;
  width: 100%;
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  margin-top: 30px;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
  background: rgb(130, 106, 251);
}
.form button:hover {
  background: rgb(88, 56, 250);
}
/*Responsive*/
@media screen and (max-width: 500px) {
  .form .column {
    flex-wrap: wrap;
  }
  .form :where(.gender-option, .gender) {
    row-gap: 15px;
  }
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    /* top: 0; */
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    float: left;
  }
  span{
      float: right;
      padding-right: 2%;
      
  }
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  /* loder */
.content7{
  display: none;
}
.loader{
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: #16191e;
  position: absolute;
}
.loader>div{
  height: 100px;
  width: 100px;
  border: 15px solid #45474b;
  border-top-color: #2a88e6;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 50%;
  animation: spin 1.5s infinite linear;
}
@keyframes spin{
  100%{
      transform: rotate(360deg);
  }
}

